.render-assessment {
  display: block;
  height: 100%;
  position: relative;
  background-image: url('./../../../assets/login/login-bg.svg');
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fafcff;
}
.assess-welcome {
  position: absolute;
  left: 35px;
  top: 35px;
  font-size: 2rem;
  color: var(--nl-primary-color);
  font-weight: 600;
}
.assess-container {
  width: 400px;
  position: absolute;
  top: 60px;
  right: 20%;
}
.company-logo {
  cursor: pointer;
}
