::ng-deep p-dialog .custom-style {
  display: flex;
  flex-direction: column;
}
.render-assessment {
  background: linear-gradient(90deg, #99c3ff 0%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
}
.wave-img {
  position: relative;
  background-image: url('./../../../assets/login/wave.svg');
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.modal-image {
  display: block;
  height: 100%;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.assess-welcome {
  font-size: 2.25rem;
  font-weight: 600;
}
.assess-container {
  width: 460px;
  position: absolute;
  top: 262px;
  right: 50px;
}
.company-logo {
  cursor: pointer;
}
.terms-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--nl-primary-color);
}

// @media (max-width: 1199px) {
//   .modal-image {
//     background-position: center;
//   }
// }
