<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="mt-3 row flex-column">
  <strong class="col mb-3">{{ interpretation ? 'Edit' : 'Add' }} Interpretation</strong>
  <ng-container [formGroup]="editForm" *ngIf="editForm">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="nl-card nl-border nl-border-1">
            <div class="row mb-3 p-fluid">
              <div class="col-6" [hidden]="!editForm.get('id')!.value">
                <label class="d-block" for="id">ID</label>
                <input type="text" formControlName="id" id="id" class="p-inputtext p-disabled" />
              </div>
            </div>
            <div class="row mb-3 p-fluid gy-2">
              <div class="col-6">
                <label class="d-block" for="high">High</label>
                <input type="text" formControlName="high" id="high" class="p-inputtext" />
                <ng-container
                  *ngTemplateOutlet="
                    errorTpl;
                    context: { $implicit: editForm, fieldName: 'high' }
                  "></ng-container>
              </div>
              <div class="col-6">
                <label class="d-block" for="low">Low</label>
                <input type="text" formControlName="low" id="low" class="p-inputtext" />
                <ng-container
                  *ngTemplateOutlet="
                    errorTpl;
                    context: { $implicit: editForm, fieldName: 'low' }
                  "></ng-container>
              </div>
              <div class="col-6">
                <label class="d-block" for="medium">Medium</label>
                <input type="text" formControlName="medium" id="medium" class="p-inputtext" />
                <ng-container
                  *ngTemplateOutlet="
                    errorTpl;
                    context: { $implicit: editForm, fieldName: 'medium' }
                  "></ng-container>
              </div>

              <div
                class="col-6"
                *ngFor="
                  let item of [
                    'interpretation1',
                    'interpretation2',
                    'interpretation3',
                    'interpretation4',
                    'interpretation5',
                    'interpretation6'
                  ];
                  index as i
                ">
                <label class="d-block" [for]="item">Interpretation {{ i + 1 }}</label>
                <input type="text" [formControlName]="item" [id]="item" class="p-inputtext" />
                <ng-container
                  *ngTemplateOutlet="
                    errorTpl;
                    context: { $implicit: editForm, fieldName: '' + item }
                  "></ng-container>
              </div>

              <div class="col-6" *ngIf="aspects$ | async as aspects">
                <label class="d-block" for="aspectId">Aspect</label>
                <select class="form-select" name="aspectId" formControlName="aspectId">
                  <option [ngValue]="null" [selected]="true" [disabled]="true"></option>
                  <option
                    [ngValue]="aspectOption.id"
                    *ngFor="let aspectOption of aspects; trackBy: trackById">
                    {{ aspectOption.name }}
                  </option>
                </select>
                <ng-container
                  *ngTemplateOutlet="
                    errorTpl;
                    context: { $implicit: editForm, fieldName: 'aspectId' }
                  "></ng-container>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-3 d-block d-flex justify-content-around">
                <button type="button" class="p-button" (click)="goBack()">Cancel</button>
                <button
                  type="button"
                  class="p-button"
                  (click)="save()"
                  [disabled]="editForm.invalid">
                  Save
                </button>
              </div>
            </div>
          </div>
          <!--card end-->
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #errorTpl let-editForm let-fieldName="fieldName">
  <small
    *ngIf="editForm.controls[fieldName].invalid && editForm.controls[fieldName].dirty"
    class="p-error">
    <div *ngIf="editForm.controls[fieldName].errors?.['required']">
      {{ fieldName | titlecase }} is required.
    </div>
    <div *ngIf="editForm.controls[fieldName].errors?.['maxlength']">
      This field cannot be longer than
      {{ editForm.controls[fieldName].errors?.['maxlength']?.['requiredLength'] }} characters.
    </div>
  </small>
</ng-template>
