<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="row flex-column py-3">
  <strong class="col-12 mb-3">Master Data</strong>
  <nl-assess-cards
    [assessCards]="assessCards"
    *ngIf="competencyAspectROCount$ | async"></nl-assess-cards>
  <div class="col-md-12 mb-3">
    <div class="d-flex justify-content-end column-gap-2">
      <div class="file-input-container">
        <label for="fileInput" class="p-button">Upload Assessment Data</label>
        <input
          type="file"
          id="fileInput"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #uploadMasterData />
      </div>
      <!-- <button class="p-button">
        Upload Assessment Data
        <input
          type="file"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          class="form-control custom-file-input dasboardCustom"
          id="customFileBootstrap"
          #uploadMasterData />
      </button> -->
      <button class="p-button" (click)="downloadErrorSummary()">Download Summary</button>
      <button class="p-button" (click)="downloadTemplate()">Download Template</button>
      <button class="p-button" (click)="downloadResultSheet()">Export Results</button>
    </div>
  </div>
  <ng-container *ngIf="masterData$ | async as masterData">
    <nl-table
      [cols]="cols"
      [value]="masterData"
      [selectionMode]="'single'"
      (onRowSelect)="onRowSelect($event)" />
  </ng-container>
</div>
