.header {
  height: 60px;
  box-shadow: 5px 5px 10px 0px #e9f2ff;
  background-color: #ffff;
  .brand {
    font-size: 1rem;
    font-weight: 600;
    color: var(--nl-success-color);
  }
  .user {
    padding-right: 2rem;
    .avatar {
      width: 45px;
      height: 45px;
      border: 1px solid;
      border-radius: 50%;
    }
    .name {
      position: relative;
      cursor: pointer;
      .dropdown-menu {
        position: absolute;
        top: 40px;
        min-width: 150px;
        box-shadow: 5px 5px 10px 0px #e9f2ff;
        background-color: #ffff;
        z-index: 1001;
        .option {
          padding: 10px;
          &:hover {
            cursor: pointer;
            background-color: var(--nl-success-color);
          }
        }
      }
    }
  }
}
