.sidebar {
  background: #1f2c40;
  height: 100vh;
  .company-logo {
    img {
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .menus {
    color: #ffffff;
    .menu {
      cursor: pointer;
      height: 48px;
      img {
        margin-left: 20px;
        margin-right: 10px;
      }
      .bar {
        display: inline-block;
        width: 5px;
        height: 100%;
      }
      &:hover {
        background: url("./../../../../../assets/dashboard/menu-bg.svg");
      }
      &.active {
        color: var(--nl-secondary-color);
        .bar {
          background-color: var(--nl-secondary-color);
        }
      }
    }
  }
}
