<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="mt-3">
  <button class="p-button nl-auto d-block" (click)="goBack()">Back</button>
</div>
<ng-container *ngIf="dashboardDetails$ | async as dashboardDetails">
  <ng-container *ngIf="profileService.getProfile() | async as profile">
    <div class="py-3">
      <div
        class="row mb-3"
        *ngIf="
          [userRole.ADMIN, userRole.FRANCHISE].includes(profile.role) &&
          accountDashboardNotificationsResp
        ">
        <div class="col-md-3">
          <div class="d-flex column-gap-2">
            <strong>Company Name :</strong>
            <span>{{ accountDashboardNotificationsResp.companyName }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex column-gap-2">
            <strong>Total Notification :</strong>
            <span>{{ accountDashboardNotificationsResp.totalNotification }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex column-gap-2">
            <strong>Assessment Taken :</strong>
            <span>{{ accountDashboardNotificationsResp.assessmentTaken }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex column-gap-2">
            <strong>Assessment Remains :</strong>
            <span>{{ accountDashboardNotificationsResp.assessmentRemains }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nl-table [cols]="cols" [value]="dashboardDetails">
            <ng-template #customBodyTpl let-rowData let-columns="columns">
              <ng-template ngFor let-col [ngForOf]="columns" let-i="index">
                <td *ngIf="col.visible">
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'hasAssignStatus'">
                      <div class="d-flex align-items-center" *ngIf="rowData[col.field]">
                        <img
                          pTooltip="Edit"
                          tooltipPosition="bottom"
                          style="cursor: pointer; margin-left: 10px"
                          (click)="onEditAction(rowData['id'])"
                          width="16px"
                          height="16px"
                          src="./../../../../../assets/dashboard/actions/edit.svg"
                          alt="edit-icon" />
                        <span
                          class="text-center fs-5 px-3"
                          pTooltip="Resend Notification"
                          tooltipPosition="bottom">
                          <i
                            (click)="resendReport(rowData['id'])"
                            class="bi bi-send nl-cursor-pointer"></i>
                        </span>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </ng-template>
          </nl-table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
