<nl-spinner name="personal-info"></nl-spinner>
<nl-assessment-header></nl-assessment-header>

<div class="d-flex mt-4 justify-content-center">
  <div class="container">
    <div class="personal-info-card">
      <form *ngIf="basicInfoForm" [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3 gy-3 p-fluid">
          <div
            class="col-12 col-sm-6"
            [hidden]="fieldObj.key === 'code' || fieldObj.key === 'sectors'"
            *ngFor="let fieldObj of personalInfoFields">
            <ng-container
              *ngTemplateOutlet="
                isDropdownField(fieldObj) === 'dropdown'
                  ? dropdownTpl
                  : fieldObj.key === 'dateOfBirth'
                    ? calendarTpl
                    : fieldObj.key === 'gender'
                      ? radioTpl
                      : inputTpl;
                context: { $implicit: fieldObj }
              "></ng-container>
          </div>
        </div>

        <!-- templates start -->
        <ng-template #inputTpl let-field>
          <label [for]="field.key"
            >{{ field.value }}<span class="p-error" *ngIf="isRequired(field.key)">*</span></label
          >
          <input
            type="text"
            [formControlName]="field.key"
            name="fname"
            [id]="field.key"
            class="p-inputtext p-component" />
        </ng-template>
        <ng-template #dropdownTpl let-field>
          <label [for]="field.key"
            >{{ field.value }}<span class="p-error" *ngIf="isRequired(field.key)">*</span></label
          >
          <p-dropdown
            [formControlName]="field.key"
            [attr.id]="field.key"
            [options]="optionsArray(field.key)"></p-dropdown>
        </ng-template>
        <ng-template #calendarTpl let-field>
          <label [for]="field.key"
            >{{ field.value }}<span class="p-error" *ngIf="isRequired(field.key)">*</span></label
          >
          <p-calendar
            [maxDate]="todaysDate"
            [formControlName]="field.key"
            [showIcon]="true"></p-calendar>
        </ng-template>
        <ng-template #radioTpl let-field>
          <label for="gender"
            >Gender<span class="p-error" *ngIf="isRequired(field.key)">*</span></label
          >
          <div class="d-flex gap-3 mt-2">
            <div class="form-check" *ngFor="let option of optionsArray(field.key)">
              <input
                class="form-check-input"
                [formControlName]="field.key"
                type="radio"
                name="gender"
                [value]="option.value"
                [id]="option.label" />
              <label class="form-check-label" [for]="option.label">{{
                option.label | titlecase
              }}</label>
            </div>
          </div>
        </ng-template>
        <!-- templates end -->
      </form>
      <div class="row mb-3 justify-content-center">
        <div class="col-auto">
          <button
            [disabled]="basicInfoForm.invalid"
            type="submit"
            class="w-100 p-button justify-content-center">
            Start Assessment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{ basicInfoForm.value | json }} -->
