<h3 class="signup-welcome">Welcome to Assess</h3>
<div class="signup-container row">
  <div class="d-inline-flex justify-content-center">
    <img
      routerLink="/"
      class="company-logo justify-content-center"
      src="./../../../assets/login/logo.svg"
      alt="logo-svg"
      height="60" />
  </div>
  <h5 class="mt-4 p-0">Sign Up</h5>
  <div class="row mt-2 mb-3">
    <label for="name" class="px-0">Name</label>
    <input type="text" name="name" id="name" class="p-inputtext p-component" />
  </div>
  <div class="row mb-3">
    <label for="email" class="px-0">Email</label>
    <input type="email" name="email" id="email" class="p-inputtext p-component" />
  </div>
  <div class="row mb-3">
    <label for="contact" class="px-0">Contact Number</label>
    <input type="text" name="contact" id="contact" class="p-inputtext p-component" />
  </div>
  <button type="submit" class="p-button justify-content-center mt-3">Make Payment</button>
</div>
