<h3 class="login-welcome">Welcome to Assess</h3>

<form
  class="login-container row"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off">
  <div class="d-inline-flex justify-content-center">
    <img
      routerLink="/"
      class="company-logo justify-content-center nl-cursor-pointer"
      src="./../../../assets/login/logo.svg"
      alt="logo-svg"
      height="60" />
  </div>
  <div *ngIf="success" class="row mt-4">
    <div class="col-12">Check your emails for details on how to reset your password.</div>
    <strong routerLink="/login" class="login-link">Back to login</strong>
  </div>
  <ng-container *ngIf="!success">
    <h5 class="mt-4 p-0">Reset your password</h5>
    <div class="row mt-2 mb-3">
      <label for="email" class="px-0">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        class="p-inputtext p-component"
        formControlName="email" />
      <small *ngIf="email.invalid && email.dirty" class="p-error">
        <div *ngIf="email.errors?.['required']">Your email is required.</div>
        <div *ngIf="email.errors?.['email']">Your email is invalid.</div>
        <div *ngIf="email.errors?.['minlength']">
          Your email is required to be at least 5 characters.
        </div>
        <div *ngIf="email.errors?.['maxlength']">
          Your email cannot be longer than 100 characters.
        </div>
      </small>
    </div>
    <button
      type="submit"
      class="p-button justify-content-center mt-3"
      [disabled]="forgotPasswordForm.invalid">
      Reset Password
    </button>
  </ng-container>
</form>
