<div class="container-fluid">
  <div class="align-items-center p-5 row">
    <div class="col-auto offset-1">
      <h3 class="fs-2 fw-semibold text-white d-inline">Welcome to</h3>
      <img
        class="px-3"
        src="./../../../assets/login/assess-log-white.svg"
        alt="assess-log-white.svg"
        height="48" />
    </div>
    <div class="col-auto ms-auto">
      <img
        src="./../../../assets/login/nealife-logo.png"
        alt="nealife-logo.png"
        height="80"
        width="178" />
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
      <form
        class="forgot-password-container"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off">
        <div *ngIf="success" class="row mt-4">
          <div class="col-12">Check your emails for details on how to reset your password.</div>
          <strong routerLink="/login" class="login-link">Back to login</strong>
        </div>
        <ng-container *ngIf="!success">
          <h5 class="mt-4 p-0">Reset your password</h5>
          <div class="p-fluid mt-2 mb-3">
            <label for="email" class="px-0">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              class="p-inputtext p-component"
              formControlName="email" />
            <small *ngIf="email.invalid && email.dirty" class="p-error">
              <div *ngIf="email.errors?.['required']">Your email is required.</div>
              <div *ngIf="email.errors?.['email']">Your email is invalid.</div>
              <div *ngIf="email.errors?.['minlength']">
                Your email is required to be at least 5 characters.
              </div>
              <div *ngIf="email.errors?.['maxlength']">
                Your email cannot be longer than 100 characters.
              </div>
            </small>
          </div>
          <button
            type="submit"
            class="p-button justify-content-center mt-3 w-100"
            [disabled]="forgotPasswordForm.invalid">
            Reset Password
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</div>
