<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nl-sidebar></nl-sidebar>
        </div>
        <div class="col">
            <nl-header></nl-header>
            <div class="mt-3 row flex-column g-2">
                <strong class="col">My Dashboard</strong>
                <div class="col">
                    <div class="row g-2">
                        <div class="col-3">
                            <div class="card"></div>
                        </div>
                        <div class="col-3">
                            <div class="card"></div>
                        </div>
                        <div class="col-3">
                            <div class="card"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>