<nl-spinner name="admin-spinner"></nl-spinner>
<div class="row flex-column">
  <strong class="col-12 mb-3">My Dashboard</strong>
  <ng-container *ngIf="compentencies$ | async as projections">
    <div class="col-12 mb-3">
      <div class="row g-2">
        <div class="col-3">
          <div class="card">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="col-3">
                <img
                  width="40"
                  height="40"
                  src="./../../../../assets/dashboard/alloted-assess.svg"
                  alt="alloted-assess" />
              </div>
              <div class="col">
                <div>Allotted Assessments</div>
                <strong>{{ projections.compProjectionsROObject.aspectCount }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="col-3">
                <img src="./../../../../assets/dashboard/used-assess.svg" alt="used-assess" />
              </div>
              <div class="col">
                <div>Used Assessments</div>
                <strong>{{ projections.compProjectionsROObject.itemCount }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="col-3">
                <img src="./../../../../assets/dashboard/balance-assess.svg" alt="balance-assess" />
              </div>
              <div class="col">
                <div>Balance Assessments</div>
                <strong>{{ projections.compProjectionsROObject.competencyCount }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <strong class="col-12 mb-4">Assessment Dashboard</strong>
    <nl-table [cols]="cols" [value]="projections.compProjections" />
  </ng-container>
</div>
