<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="d-flex flex-column h-100">
  <nl-assessment-header></nl-assessment-header>
  <div class="col overflow-auto">
    <div class="container-fluid h-100">
      <ng-container *ngIf="showInstructions">
        <div class="row flex-column gy-2 h-100">
          <div class="col">
            <iframe [src]="instructionsUrl" frameborder="0" width="100%" height="100%"></iframe>
          </div>
          <div class="col-auto mx-auto">
            <button class="p-button" (click)="onInstructionsSubmit()">Next</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showStepper">
        <div class="row h-100 gy-3">
          <div class="col-12 col-lg-9 assessment-question-section">
            <div class="row mt-4 justify-content-center">
              <ng-container
                *ngIf="
                  ((layoutService.isXSmall$ | async) ||
                    (layoutService.isSmall$ | async) ||
                    (layoutService.isMedium$ | async)) &&
                  activeAssessment.timeLimit > 0
                ">
                <div class="col-12 d-flex justify-content-center">
                  <ng-container *ngTemplateOutlet="circleProgressTpl"></ng-container>
                </div>
              </ng-container>
              <div class="col-12">
                <nl-stepper [selectedIndex]="activeStepIndex">
                  <nl-step
                    *ngFor="let step of steps"
                    [completed]="step.completed"
                    [stepControl]="step.stepControl"
                    [title]="step.title"
                    [showSubTitle]="step.showSubTitle"
                    [subTitle]="step.subTitle">
                    <ng-container *ngIf="activeSectionFormGroup">
                      <!-- <ng-container *ngIf="step.stepControl && step.stepControl.get('assessmentId')"> -->
                      <!-- Added above ngIf as instruction page don't have any formGroup controls-->
                      <h5 class="mt-4">
                        Questions
                        <span
                          >({{
                            activeQuestionIndex +
                              1 +
                              '/' +
                              sections[activeSectionIndex].itemAspects.length
                          }})</span
                        >
                      </h5>
                      <form [formGroup]="activeSectionFormGroup">
                        <ng-container
                          formArrayName="itemAspectsFormArray"
                          *ngFor="
                            let itemAspect of sections[activeSectionIndex].itemAspects;
                            index as itemAspectIndex
                          ">
                          <!-- class="assessment-section d-sm-flex gap-sm-2 align-items-sm-baseline justify-content-sm-center" -->
                          <ng-container *ngIf="itemAspectIndex === activeQuestionIndex">
                            <!-- <div class="question-number col-auto mt-4">
                              {{ itemAspectIndex + 1 }}
                            </div> -->
                            <div
                              [formGroupName]="activeQuestionIndex"
                              class="question-section d-flex flex-column gap-4">
                              <div class="question border border-1 p-2 shadow">
                                <ng-container
                                  *ngIf="
                                    itemAspect.questionImage &&
                                      itemAspect.questionImage[selectedLanguage];
                                    else questionTpl
                                  ">
                                  <img
                                    [src]="itemAspect.questionImage[selectedLanguage]"
                                    alt="question-img"
                                    width="100%"
                                    height="100%" />
                                </ng-container>
                                <ng-template #questionTpl>
                                  {{ itemAspect.language[selectedLanguage].split('. ')[1] }}
                                </ng-template>
                              </div>
                              <div class="container-fluid">
                                <div class="answer row g-2">
                                  <ng-container
                                    *ngFor="
                                      let answer of itemAspect.answerOptions;
                                      index as ansIndex
                                    ">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                      <div class="form-check">
                                        <input
                                          formControlName="selectedAnswer"
                                          (change)="onAnswerSelection(activeQuestionIndex)"
                                          class="form-check-input"
                                          type="radio"
                                          [value]="answer"
                                          [id]="'ans-' + activeQuestionIndex + '-' + ansIndex" />
                                        <label
                                          class="form-check-label"
                                          [for]="'ans-' + activeQuestionIndex + '-' + ansIndex"
                                          >{{ answer.language[selectedLanguage] }}</label
                                        >
                                      </div>
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                              <div
                                class="d-flex justify-content-around pt-4 nl-border-top nl-border-1">
                                <button
                                  *ngIf="assessmentsData?.showBackButton"
                                  type="button"
                                  class="p-button p-button-secondary text-black fw-bold"
                                  [disabled]="activeQuestionIndex === 0"
                                  (click)="onBack()">
                                  <!-- <i class="nl-icon left-arrow"></i> -->
                                  Back
                                </button>
                                <button
                                  *ngIf="
                                    assessmentsData?.showSkipButton &&
                                    activeQuestionIndex !==
                                      sections[activeSectionIndex].itemAspects.length - 1
                                  "
                                  type="button"
                                  class="p-button p-button-warning gap-2"
                                  (click)="onSkip(activeQuestionIndex)">
                                  Skip for Later
                                  <i class="nl-icon right-arrow"></i>
                                </button>
                                <button
                                  *ngIf="
                                    activeQuestionIndex ===
                                    sections[activeSectionIndex].itemAspects.length - 1
                                  "
                                  [disabled]="activeSectionFormGroup.invalid"
                                  type="button"
                                  class="p-button p-button-primary"
                                  (click)="submitSectionDetails()">
                                  Submit
                                </button>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </form>
                      <!-- <div>{{ activeSectionFormGroup.value | json }}</div> -->
                      <!-- For debug purpose-->
                    </ng-container>
                  </nl-step>
                </nl-stepper>
              </div>
            </div>
            <div class="row mt-4 gy-sm-0 gy-2 justify-content-sm-center">
              <div class="not-attempted col-6 col-sm-auto d-flex gap-2 align-items-center">
                <div class="box"></div>
                <div class="">Not Attempted</div>
              </div>
              <div class="attempted col-6 col-sm-auto d-flex gap-2 align-items-center">
                <div class="box"></div>
                <div>Attempted</div>
              </div>
              <div class="skipped col-6 col-sm-auto d-flex gap-2 align-items-center">
                <div class="box"></div>
                <div>Skipped</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 h-100 assessment-timer-section">
            <div class="p-3 h-100">
              <div class="row gy-3 flex-column align-items-center h-100">
                <ng-container
                  *ngIf="(layoutService.isLargeUp$ | async) && activeAssessment.timeLimit > 0">
                  <div class="col-lg-auto">
                    <ng-container *ngTemplateOutlet="circleProgressTpl"></ng-container>
                  </div>
                </ng-container>
                <div class="col-lg-auto">
                  <h5 class="fw-bold">{{ activeAssessment.displayName }}</h5>
                </div>
                <div class="col overflow-auto sub-test-container">
                  <div class="row gy-3">
                    <div
                      [id]="SUB_TEST_CARD_LABEL + i"
                      class="col-lg-12"
                      *ngFor="let section of sections; index as i">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="section-card nl-border nl-border-1">
                            <div class="section-card-header p-2 d-flex align-items-center">
                              <span class="col-auto">{{ SUB_TEST_LABEL + (i + 1) }}</span>
                              <span
                                class="nl-icon mx-3 d-inline-block"
                                [ngClass]="{
                                  'up-arrow': i === activeSectionIndex,
                                  'down-arrow': i !== activeSectionIndex
                                }"></span>
                              <span class="status text-truncate" *ngIf="i === activeSectionIndex"
                                >In Progress</span
                              >
                            </div>
                            <div class="section-card-body p-2" *ngIf="i === activeSectionIndex">
                              <div class="container-fluid">
                                <div class="row g-2">
                                  <div
                                    class="col-auto"
                                    *ngFor="
                                      let itemAspect of section.itemAspects;
                                      index as childAspectIndex
                                    ">
                                    <div
                                      (click)="activeQuestionIndex = childAspectIndex"
                                      class="count nl-border nl-border-1"
                                      [ngClass]="{
                                        answered: isAnswered(childAspectIndex),
                                        skipped:
                                          isSkipped(childAspectIndex) &&
                                          !isAnswered(childAspectIndex)
                                      }">
                                      {{ childAspectIndex + 1 }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #circleProgressTpl>
  <nl-circle-progress [timeInMinutes]="activeAssessment.timeLimit"></nl-circle-progress>
</ng-template>
