$color: rgba(46, 49, 146, 1);
$bg-color: rgba(235, 237, 249, 1);

.assessment-question-section {
  background-color: var(--nl-body-bg-color);
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: rgba(124, 131, 141, 1);
}

.attempted .box {
  background: rgba(3, 201, 136, 1);
}

.skipped .box {
  background: rgba(255, 203, 91, 1);
}

.assessment-timer-section {
  box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.question-number {
  // width: 34px;
  // height: 34px;
  // border-radius: 50%;
  // border: 1px solid $color;
  // color: $color;
  // background-color: $bg-color;
}

.section-card {
  border-radius: 4px;
  .section-card-header {
    height: 44px;
    border-radius: 4px 4px 0px 0px;
    background: #e9f2ff;
    .nl-icon {
      width: 24px;
      height: 24px;
    }
    .status {
      font-weight: 700;
      color: var(--nl-text-warning-dark-color);
    }
  }
  .section-card-body {
    .count {
      cursor: pointer;
      background-color: #e2e8f0;
      border-radius: 3px;
      height: 29px;
      width: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.answered {
        border-color: var(--nl-success-color);
        background-color: var(--nl-success-color);
      }
      &.skipped {
        border-color: var(--nl-text-warning-color);
        background-color: var(--nl-text-warning-color);
      }
    }
  }
}

.freeze-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.last-page {
  background-image: url('./../.././../../assets/render-assessment/celebration.jpg');
  background-size: contain;
}
.thanks-container {
  margin: auto;
  min-height: 50vh;
  box-shadow: 0px 0px 10px 0px #cbdbf340;
  border: 1px solid #cbdbf3;
}
.thanks-img {
  background-image: url('./../.././../../assets/render-assessment/thanks.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
