<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="d-flex flex-column h-100">
  <nl-assessment-header></nl-assessment-header>
  <div class="col overflow-auto">
    <div class="container-fluid h-100">
      <ng-container *ngIf="showGeneralInstructions">
        <div class="row flex-column gy-2 h-100">
          <div class="col">
            <iframe
              [src]="generalInstructionsUrl"
              frameborder="0"
              width="100%"
              height="100%"></iframe>
          </div>
          <div class="col-auto mx-auto">
            <button class="p-button" (click)="onGenInstructionsSubmit()">Next</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showStepper">
        <div class="row h-100 gy-3">
          <div
            class="col-12 assessment-question-section"
            [class.col-lg-9]="activeAssessmentFormGroup">
            <div class="row justify-content-center h-100">
              <ng-container
                *ngIf="
                  ((layoutService.isXSmall$ | async) ||
                    (layoutService.isSmall$ | async) ||
                    (layoutService.isMedium$ | async)) &&
                  activeAssessment.timeLimit > 0 &&
                  activeAssessmentFormGroup
                ">
                <div class="col-12 d-flex justify-content-center pt-4">
                  <ng-container *ngTemplateOutlet="circleProgressTpl"></ng-container>
                </div>
              </ng-container>
              <div class="col-12">
                <nl-stepper [selectedIndex]="activeStepIndex">
                  <nl-step
                    *ngFor="let step of steps"
                    [completed]="step.completed"
                    [stepFormGroup]="step.stepFormGroup"
                    [title]="step.title"
                    [instructionUrl]="step.instructionUrl">
                    <ng-container *ngIf="step.instructionUrl">
                      <div class="row flex-column gy-2 h-100">
                        <div class="col">
                          <iframe
                            [src]="step.instructionUrl"
                            frameborder="0"
                            width="100%"
                            height="100%"></iframe>
                        </div>
                        <div class="col-auto mx-auto">
                          <button class="p-button" (click)="onAssessmentInstructionsSubmit()">
                            Next
                          </button>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="step.stepFormGroup && activeAssessmentFormGroup">
                      <!-- <ng-container *ngIf="step.stepControl && step.stepControl.get('assessmentId')"> -->
                      <!-- Added above ngIf as instruction page don't have any formGroup controls-->
                      <h5 class="mt-4">
                        Question
                        <!-- <span>{{ activeQuestionIndex + 1 }}.</span> -->
                      </h5>
                      <form [formGroup]="activeAssessmentFormGroup">
                        <ng-container
                          *ngFor="
                            let itemAspect of activeAssessment.itemAspects;
                            trackBy: itemAspectTrackByFn;
                            index as itemAspectIndex
                          ">
                          <ng-container *ngIf="itemAspectIndex === activeQuestionIndex">
                            <div
                              [formArrayName]="'itemAspectsFormArray'"
                              class="question-section d-flex flex-column gap-4">
                              <div class="bg-white question border border-1 shadow">
                                <div class="p-2">
                                  {{
                                    itemAspect.language
                                      ? itemAspect.language[selectedLanguage]
                                      : itemAspect.question
                                  }}
                                </div>
                                <img
                                  *ngIf="!isEmptyObject(itemAspect.questionImage)"
                                  style="display: inline-block; max-height: 250px"
                                  [src]="itemAspect.questionImage[selectedLanguage]"
                                  alt="question-img"
                                  width="100%" />
                                <!-- <ng-container
                                  *ngIf="
                                    itemAspect.questionImage &&
                                      itemAspect.questionImage[selectedLanguage];
                                    else questionTpl
                                  ">
                                  <img
                                    style="display: inline-block; max-height: 250px"
                                    [src]="itemAspect.questionImage[selectedLanguage]"
                                    alt="question-img"
                                    width="100%" />
                                </ng-container>
                                <ng-template #questionTpl>
                                  <div class="p-2">
                                    {{ itemAspect.language[selectedLanguage].split('. ')[1] }}
                                  </div>
                                </ng-template> -->
                              </div>
                              <div [formGroupName]="activeQuestionIndex" class="container-fluid">
                                <div
                                  class="answer gy-2 row"
                                  [class.justify-content-between]="
                                    itemAspect.answerOptions.length === 10
                                  ">
                                  <ng-container
                                    *ngFor="
                                      let answer of itemAspect.answerOptions;
                                      index as ansIndex
                                    ">
                                    <div class="col-12 col-sm-auto">
                                      <div class="form-check">
                                        <input
                                          formControlName="selectedAnswer"
                                          (change)="onAnswerSelection(activeQuestionIndex)"
                                          class="form-check-input"
                                          type="radio"
                                          [value]="answer"
                                          [id]="'ans-' + activeQuestionIndex + '-' + ansIndex" />
                                        <label
                                          class="form-check-label"
                                          [for]="'ans-' + activeQuestionIndex + '-' + ansIndex"
                                          >{{ answer.language[selectedLanguage] }}</label
                                        >
                                      </div>
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                              <div
                                class="d-flex justify-content-around pt-4 nl-border-top nl-border-1">
                                <button
                                  *ngIf="assessmentsData?.showBackButton"
                                  type="button"
                                  class="p-button p-button-secondary text-black fw-bold"
                                  [disabled]="activeQuestionIndex === 0"
                                  (click)="onBack()">
                                  Back
                                </button>
                                <button
                                  *ngIf="
                                    assessmentsData?.showSkipButton &&
                                    activeQuestionIndex !==
                                      totalAssessments[activeAssessmentIndex].itemAspects.length - 1
                                  "
                                  type="button"
                                  class="p-button p-button-warning gap-2"
                                  (click)="onSkip(activeQuestionIndex)">
                                  Skip for Later
                                  <i class="nl-icon right-arrow"></i>
                                </button>
                                <button
                                  *ngIf="
                                    activeQuestionIndex ===
                                    totalAssessments[activeAssessmentIndex].itemAspects.length - 1
                                  "
                                  [disabled]="activeAssessmentFormGroup.invalid"
                                  type="button"
                                  class="p-button p-button-primary"
                                  (click)="submitSectionDetails()">
                                  Submit
                                </button>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </form>
                      <!-- <div>{{ activeSectionFormGroup.value | json }}</div> -->
                      <!-- For debug purpose-->
                      <ng-container *ngTemplateOutlet="choicesTpl"></ng-container>
                    </ng-container>
                  </nl-step>
                </nl-stepper>
              </div>
            </div>
          </div>
          <ng-container *ngIf="activeAssessmentFormGroup">
            <ng-container *ngTemplateOutlet="assessmentDetailTpl"></ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="showAssessmentLastPage">
        <ng-container *ngTemplateOutlet="lastPageTpl"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #circleProgressTpl>
  <nl-circle-progress
    [timeInMinutes]="activeAssessment.timeLimit"
    (onTimeover)="timeOver()"></nl-circle-progress>
</ng-template>

<ng-template #choicesTpl>
  <div class="row mt-4 gy-sm-0 gy-2 justify-content-sm-center">
    <div class="not-attempted col-6 col-sm-auto d-flex gap-2 align-items-center">
      <div class="box"></div>
      <div class="">Not Attempted</div>
    </div>
    <div class="attempted col-6 col-sm-auto d-flex gap-2 align-items-center">
      <div class="box"></div>
      <div>Attempted</div>
    </div>
    <div class="skipped col-6 col-sm-auto d-flex gap-2 align-items-center">
      <div class="box"></div>
      <div>Skipped</div>
    </div>
  </div>
</ng-template>

<ng-template #assessmentDetailTpl>
  <div class="col-12 col-lg-3 assessment-timer-section">
    <!-- <div class="p-3 h-100"> -->
    <div class="row gy-3 flex-column align-items-center">
      <ng-container *ngIf="(layoutService.isLargeUp$ | async) && activeAssessment.timeLimit > 0">
        <div class="col-lg-auto pt-4">
          <ng-container *ngTemplateOutlet="circleProgressTpl"></ng-container>
        </div>
      </ng-container>
      <div class="col overflow-auto sub-test-container">
        <div class="row gy-3 pt-3">
          <!-- Completed assessments -->
          <div class="col-lg-12" *ngFor="let item of completedAssessments">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-card nl-border nl-border-1">
                  <div class="section-card-header p-2 d-flex align-items-center">
                    <span class="col text-truncate">{{ item.displayName }}</span>
                    <span class="nl-icon mx-3 d-inline-block down-arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- On going assessments-->
          <div
            [id]="SUB_TEST_CARD_LABEL + i"
            class="col-lg-12"
            *ngFor="let assessment of totalAssessments; index as i">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-card nl-border nl-border-1">
                  <div class="section-card-header p-2 d-flex align-items-center">
                    <span class="col text-truncate">{{ assessment.displayName }}</span>
                    <span
                      class="nl-icon mx-3 d-inline-block"
                      [ngClass]="{
                        'up-arrow': i === activeAssessmentIndex,
                        'down-arrow': i !== activeAssessmentIndex
                      }"></span>
                    <span class="status text-truncate" *ngIf="i === activeAssessmentIndex"
                      >In Progress</span
                    >
                  </div>
                  <div class="section-card-body p-2" *ngIf="i === activeAssessmentIndex">
                    <div class="container-fluid">
                      <div class="row g-2">
                        <div
                          class="col-auto"
                          *ngFor="
                            let itemAspect of assessment.itemAspects;
                            trackBy: itemAspectTrackByFn;
                            index as childAspectIndex
                          ">
                          <div
                            (click)="activeQuestionIndex = childAspectIndex"
                            class="count nl-border nl-border-1"
                            [ngClass]="{
                              answered: isAnswered(childAspectIndex),
                              skipped: isSkipped(childAspectIndex) && !isAnswered(childAspectIndex)
                            }">
                            {{ childAspectIndex + 1 }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</ng-template>

<ng-container *ngIf="freezeNextAssessement">
  <div class="freeze-backdrop" *ngIf="freezeAssessment$ | async as timeLeftInSeconds">
    <strong class="d-flex justify-content-center align-items-center fs-4 h-100 text-white"
      >Your Next assessement will start after
      {{ timeLeftInSeconds | minuteSeconds }} minutes..</strong
    >
  </div>
</ng-container>

<ng-template #lastPageTpl>
  <div class="row justify-content-center align-items-center h-100 last-page">
    <div class="col-sm-6">
      <div class="row thanks-container bg-white">
        <div class="col-sm-6 thanks-img"></div>
        <div class="col-sm-6 d-flex flex-column mt-5">
          <div class="submitted">
            <div>Dear Participant,</div>
            <div>
              Your assessment is successfully submitted. Thank You for being a part of the
              revolution in online psychometric assessments. We hope you enjoyed taking the test.
            </div>
          </div>
          <div class="submittedcontent mt-4">
            We wish all the success for your future Endeavours.
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
