:host {
  display: block;
  height: 100%;
  position: relative;
  background-image: url('./../../../assets/login/login-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--nl-body-bg-color);
}
.welcome-msg {
  position: absolute;
  left: 35px;
  top: 45px;
  display: flex;
  column-gap: 25px;
}
.login-welcome {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
.login-container {
  width: 560px;
  height: 575px;
  position: absolute;
  top: 20%;
  right: 14%;
}
.signup-link {
  margin-left: 0.5rem;
  color: var(--nl-primary-color);
  cursor: pointer;
}
.signin-container {
  background-color: #ffffff;
  border-radius: 8px;
  opacity: 0.9;
  padding: 20px 50px;
}
@media screen and (max-width: 1350px) {
  .login-container {
    top: 15%;
    right: 3%;
  }
  .signin-container {
    background-color: #ffffff;
    border-radius: 8px;
    opacity: 0.9;
    padding: 20px 50px;
  }
}
