<div class="container-fluid">
  <div class="align-items-center row" style="padding-top: 2rem; padding-bottom: 1.5rem">
    <div class="col-auto offset-1">
      <h3 class="fs-2 fw-semibold text-white d-inline">Welcome to</h3>
      <img
        class="px-3"
        src="./../../../assets/login/assess-log-white.svg"
        alt="assess-log-white.svg"
        height="48" />
    </div>
    <div class="col-auto ms-auto">
      <img
        src="./../../../assets/login/nealife-logo.png"
        alt="nealife-logo.png"
        height="80"
        width="178" />
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="signin-container">
          <h5 class="mt-4 p-0 fw-bold">Sign In</h5>
          <div class="p-fluid mt-4 mb-3">
            <label for="username" class="px-0">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="p-inputtext p-component"
              formControlName="username" />
            <small id="username-help" class="p-error" *ngIf="username.dirty && username.invalid"
              >Username is required.</small
            >
          </div>
          <div class="p-fluid mb-3">
            <label for="password" class="px-0">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="p-inputtext p-component"
              formControlName="password" />
            <small id="username-help" class="p-error" *ngIf="password.dirty && password.invalid"
              >Password is required.</small
            >
          </div>
          <p-checkbox
            class="p-0 d-block"
            name="groupname"
            value="val1"
            [binary]="true"
            label="Terms & Conditions"
            [formControl]="isChecked"></p-checkbox>
          <button
            type="submit"
            class="p-button justify-content-center mt-3 w-100"
            [disabled]="loginForm.invalid">
            Login
          </button>
          <strong routerLink="/account/reset/request" class="signup-link mt-3 d-block"
            >Forgot Password?</strong
          >
        </div>
      </form>
    </div>
  </div>
</div>
