:host {
  display: block;
  height: 100%;
  background-image: url('./../../../assets/login/login-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: var(--nl-body-bg-color);
}
.signup-link {
  margin-left: 0.5rem;
  color: var(--nl-primary-color);
  cursor: pointer;
}
.signin-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 20px 50px;
}
@media screen and (max-width: 1350px) {
  .signin-container {
    border-radius: 8px;
    padding: 20px 50px;
  }
}
