<nl-spinner [name]="spinnerName"></nl-spinner>
<div class="mt-3 row flex-column">
  <strong class="col mb-3">Assign</strong>
  <p-tabView>
     <p-tabPanel header="Assign Assessment">
        <ng-container *ngIf="assessments$ | async as assessments">
          <div class="mb-3 d-flex justify-content-end">
            <button
              type="button"
              routerLink="add"
              [relativeTo]="activatedRoute"
              class="p-button ml-auto d-block">
              Add
            </button>
          </div>
          <nl-table [cols]="cols" [value]="assessments" [actionsList]="actionsList">
            <ng-template #customBodyTpl let-rowData let-columns="columns">
              <ng-template ngFor let-col [ngForOf]="columns" let-i="index">
                <td *ngIf="col.visible">
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'companyName'">
                      <span
                        class="link-primary nl-cursor-pointer"
                        [routerLink]="['/assess/company/', rowData['companyId'], 'view']"
                        >{{ rowData[col.field] }}</span
                      >
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </ng-template>
          </nl-table>
        </ng-container>
      </p-tabPanel>

      <p-tabPanel header="Assign Assessment Group">
        <ng-container *ngIf="assessmentGroups$ | async as assessmentGroups">
          <div class="mb-3 d-flex justify-content-end">
            <button
              type="button"
              routerLink="add"
              [relativeTo]="activatedRoute"
              class="p-button ml-auto d-block">
              Add
            </button>
          </div>
          <nl-table [cols]="assessmentGroupCols" [value]="assessmentGroups" [actionsList]="assessmentGroupActionList" />
        </ng-container>
      </p-tabPanel>
  </p-tabView>
</div>
