:host {
  display: block;
  height: 100%;
  background-image: url('./../../../assets/login/login-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 20px 50px;
}
.login-link {
  color: var(--nl-primary-color);
  cursor: pointer;
}
