<div class="container-fluid">
  <div class="align-items-center p-5 row">
    <div class="col-auto offset-1">
      <h3 class="fs-2 fw-semibold text-white d-inline">Welcome to</h3>
      <img
        class="px-3"
        src="./../../../assets/login/assess-log-white.svg"
        alt="assess-log-white.svg"
        height="48" />
    </div>
    <div class="col-auto ms-auto">
      <img
        src="./../../../assets/login/nealife-logo.png"
        alt="nealife-logo.png"
        height="80"
        width="178" />
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
      <form
        class="form-container"
        [formGroup]="passwordForm"
        (ngSubmit)="finishReset()"
        autocomplete="off">
        <div *ngIf="success">
          Please click on <strong routerLink="/" class="login-link">Login</strong>.
        </div>
        <h5 class="mt-4 p-0">Reset password</h5>
        <div class="p-fluid mt-2 mb-3">
          <label for="newPassword" class="px-0">New Password</label>
          <p-password formControlName="newPassword" [toggleMask]="true"></p-password>
          <!-- <input
            type="text"
            name="newPassword"
            id="newPassword"
            class="p-inputtext p-component"
            formControlName="newPassword" /> -->
          <small *ngIf="newPassword.invalid && newPassword.dirty" class="p-error">
            <div *ngIf="newPassword.errors?.['required']">Your new password is required.</div>
            <div *ngIf="newPassword.errors?.['newPassword']">Your new password is invalid.</div>
            <div *ngIf="newPassword.errors?.['minlength']">
              Your new password is required to be at least 5 characters.
            </div>
            <div *ngIf="newPassword.errors?.['maxlength']">
              Your new password cannot be longer than 100 characters.
            </div>
          </small>
        </div>
        <div class="p-fluid mt-2 mb-3">
          <label for="confirmPassword" class="px-0">Confirm Password</label>
          <!-- <p-password formControlName="confirmPassword" [toggleMask]="true"></p-password> -->
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="p-inputtext p-component"
            formControlName="confirmPassword" />
          <small *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="p-error">
            <div *ngIf="confirmPassword.errors?.['required']">
              Your confirm password is required.
            </div>
            <div *ngIf="confirmPassword.errors?.['confirmPassword']">
              Your confirm password is invalid.
            </div>
            <div *ngIf="confirmPassword.errors?.['minlength']">
              Your confirm password is required to be at least 5 characters.
            </div>
            <div *ngIf="confirmPassword.errors?.['maxlength']">
              Your confirm password cannot be longer than 100 characters.
            </div>
          </small>
        </div>
        <button
          type="submit"
          class="p-button justify-content-center mt-3 w-100"
          [disabled]="passwordForm.invalid">
          Validate new password
        </button>
      </form>
    </div>
  </div>
</div>
