<nl-spinner [name]="spinnerName"></nl-spinner>
<ng-container *ngIf="assessments$ | async as assessments">
    <div class="mb-3 d-flex justify-content-end gap-2">
        <button type="button" routerLink="company-assessment/add" [relativeTo]="activatedRoute" class="p-button ml-auto d-block">Add</button>
        <button type="button" (click)="deleteItems()" class="p-button ml-auto d-block" [disabled]="!this.selectedItems.length">Delete</button>
    </div>
    <nl-table [cols]="cols" [value]="assessments" [actionsList]="actionsList" [viewCheckBox]="true" (onSelectionChange)="updateSelection($event)">
        <!-- <ng-template #customBodyTpl let-rowData let-columns="columns">
            <ng-template ngFor let-col [ngForOf]="columns" let-i="index">
            <td *ngIf="col.visible">
                <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'id'">
                    <span
                    class="link-primary nl-cursor-pointer"
                    [routerLink]="['/assess/assign/company-assessment/', rowData['companyId'], 'view']"
                    >{{ rowData[col.field] }}</span
                    >
                </ng-container>
                <ng-container *ngSwitchCase="'companyName'">
                    <span
                    class="link-primary nl-cursor-pointer"
                    [routerLink]="['/assess/company/', rowData['companyId'], 'view']"
                    >{{ rowData[col.field] }}</span
                    >
                </ng-container>
                <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
                </ng-container>
            </td>
            </ng-template>
        </ng-template> -->
    </nl-table>
</ng-container>
