.nl-icon {
  //   display: inline-block;
  //   background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  &.left-arrow {
    content: url('./assets/render-assessment/left-arrow.svg');
  }
  &.right-arrow {
    content: url('./assets/render-assessment/right-arrow.svg');
  }
  &.up-arrow {
    background-image: url('./assets/render-assessment/up-arrow.svg');
  }
  &.down-arrow {
    background-image: url('./assets/render-assessment/down-arrow.svg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: auto;
  }
  &.chevron-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  }
  &.chevron-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  }
}

:root {
}
