@import 'node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
// @import 'bootstrap/dist/css/bootstrap-reboot.min.css';
// @import 'bootstrap/dist/css/bootstrap-grid.min.css';
// @import 'bootstrap/dist/css/bootstrap-utilities.min.css';

/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

:root {
  --nl-primary-color: #0062f8;
  --nl-secondary-color: #03c988;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
}

.p-button {
  background: var(--nl-secondary-color);
  border: none;
  border-radius: 8px;
  &[disabled] {
    opacity: 0.6;
  }
}

.p-dropdown-items {
  padding: 0 !important; // required as reboot.scss overrided
}
