@import 'node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css';
// @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
// @import 'bootstrap/dist/css/bootstrap.min.css';
@import './custom-bootstrap.scss';
@import './custom-icons.scss';
@import './fonts.scss';

:root {
  --nl-primary-color: #0062f8;
  --nl-secondary-color: #e2e8f0;
  --nl-success-color: #03c988;
  --nl-warning-color: #e8c31b;

  --nl-text-warning-color: #ffcb5b;
  --nl-text-warning-dark-color: #fd9801;

  --nl-border-color: #cbdbf3;

  --nl-border-style: solid;

  --nl-body-bg-color: #fafcff;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
}

.form-check-input:checked {
  background-color: var(--nl-success-color);
  border-color: var(--nl-success-color);
}

.p-button {
  background-color: var(--nl-success-color);
  border: none;
  border-radius: 8px;
  &[disabled] {
    opacity: 0.6;
  }
  &.p-button-warning {
    background-color: #e8c31b;
    border-color: #e8c31b;
  }
  &.p-button-secondary {
    background-color: var(--nl-secondary-color);
  }
}

.p-dropdown-items {
  padding: 0 !important; // required as reboot.scss overrided
}

.nl-cursor-pointer {
  cursor: pointer;
}

.nl-border {
  border: var(--nl-border-width) var(--nl-border-style) var(--nl-border-color);
}
.nl-border-top {
  border-top: var(--nl-border-width) var(--nl-border-style) var(--nl-border-color);
}
.nl-border-1 {
  --nl-border-width: 1px;
}
.nl-border-2 {
  --nl-border-width: 2px;
}
