<div class="row table-container">
  <div class="col" #primengContainer>
    <p-table
      [columns]="extendedColDefs"
      [value]="value"
      [paginator]="paginator"
      [showCurrentPageReport]="showCurrentPageReport"
      [rows]="defaultRowCount"
      [currentPageReportTemplate]="currentPageReportTemplate"
      [rowsPerPageOptions]="rowsPerPageOptions">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            <th *ngIf="col.visible">
              {{ col.header }}
            </th>
          </ng-container>
          <th *ngIf="actionsList && actionsList.length">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.visible">
              {{ rowData[col.field] }}
            </td>
          </ng-container>
          <td *ngIf="actionsList && actionsList.length">
            <img
              style="cursor: pointer; margin-left: 10px"
              (click)="action.onClick(rowData[action.field])"
              *ngFor="let action of actionsList"
              width="16px"
              height="16px"
              [src]="'./../../../assets/dashboard/actions/' + action.icon + '.svg'"
              [alt]="action.icon" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div
    [ngStyle]="{ height: primengContainer.clientHeight + 'px' }"
    class="col-auto overflow-hidden bg-body-secondary pt-4 table-tool-container"
    *ngIf="toggleColumn || toggleFilter">
    <div class="column-filter-data h-100 overflow-y-auto" *ngIf="toggleColumn">
      <div class="select-all-container form-check">
        <input
          class="form-check-input"
          [checked]="isSelectedAll()"
          (change)="selectAll()"
          type="checkbox"
          name="selectAll"
          id="selectAll" />
        <input
          class="p-inputtext p-component"
          type="text"
          placeholder="Search column name"
          #columnSearch
          (input)="onColumnInput(columnSearch.value)" />
      </div>
      <ng-container *ngFor="let col of extendedColDefs | filter: columnSearchText : 'header'">
        <div class="col form-check">
          <input
            class="form-check-input"
            [checked]="col.visible"
            [(ngModel)]="col.visible"
            type="checkbox"
            [name]="col.field"
            [id]="col.field" />
          <label class="form-check-label" [for]="col.field">{{ col.header }}</label>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-auto table-tool-panel">
    <div class="row">
      <div class="col pt-3">
        <div class="row gy-3 flex-column side-buttons">
          <div
            class="col-auto column-wrapper"
            [class.active-border-left]="toggleColumn"
            (click)="toggleColumn = !toggleColumn; toggleFilter = false">
            <div class="row gy-2">
              <img
                src="./../../../assets/table/columns.svg"
                width="16px"
                height="16px"
                alt="columns-icon" />
              <span>Columns</span>
            </div>
          </div>
          <div
            class="col-auto filter-wrapper"
            [class.active-border-left]="toggleFilter"
            (click)="toggleFilter = !toggleFilter; toggleColumn = false">
            <div class="row gy-2">
              <img
                src="./../../../assets/table/filter.svg"
                width="16px"
                height="16px"
                alt="filter-icon" />
              <span>Filters</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
