<div class="table-container d-flex">
  <div style="width: 95%" class="" #primengContainer>
    <div class="d-flex">
      <div
        [ngClass]="{
          'col-12': !(toggleColumn || toggleFilter),
          'col-10': toggleColumn || toggleFilter
        }">
        <p-table
          [columns]="extendedColDefs"
          [value]="value"
          [scrollable]="true"
          [paginator]="paginator"
          [showCurrentPageReport]="showCurrentPageReport"
          [rows]="defaultRowCount"
          [currentPageReportTemplate]="currentPageReportTemplate"
          [rowsPerPageOptions]="rowsPerPageOptions">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <ng-container *ngFor="let col of columns">
                <th
                  [pSortableColumn]="col.field"
                  *ngIf="col.visible"
                  [ngStyle]="{ width: col.width || 'auto' }">
                  {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </ng-container>
              <th *ngIf="actionsList && actionsList.length">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <ng-container *ngFor="let col of columns">
                <td *ngIf="col.visible" [ngStyle]="{ width: col.width || 'auto' }">
                  {{ rowData[col.field] }}
                </td>
              </ng-container>
              <td *ngIf="actionsList && actionsList.length">
                <img
                  style="cursor: pointer; margin-left: 10px"
                  (click)="action.onClick(rowData[action.field])"
                  *ngFor="let action of actionsList"
                  width="16px"
                  height="16px"
                  [src]="'./../../../assets/dashboard/actions/' + action.icon + '.svg'"
                  [alt]="action.icon" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div
        [ngStyle]="{ height: primengContainer.clientHeight + 'px' }"
        class="col-2 text-truncate overflow-y-auto bg-body-secondary pt-4 table-tool-container"
        *ngIf="toggleColumn || toggleFilter">
        <div class="container-fluid" *ngIf="toggleColumn">
          <div class="row">
            <div class="col-12 mb-2">
              <div class="select-all-container form-check">
                <input
                  class="form-check-input"
                  [checked]="isSelectedAll()"
                  (change)="selectAll($event)"
                  type="checkbox"
                  name="selectAll"
                  id="selectAll" />
                <input
                  class="p-inputtext p-component w-100"
                  type="text"
                  placeholder="Search column name"
                  #columnSearch
                  (input)="onColumnInput(columnSearch.value)" />
              </div>
            </div>
            <ng-container
              *ngFor="let column of extendedColDefs | filter: columnSearchText : 'header'">
              <div class="col-12 mb-2">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    [checked]="column.visible"
                    [(ngModel)]="column.visible"
                    type="checkbox"
                    [name]="column.field"
                    [id]="column.field" />
                  <label class="form-check-label" [for]="column.field">{{ column.header }}</label>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="container-fluid" *ngIf="toggleFilter">
          <!-- <div class="col-12 mb-3">
            <input class="p-inputtext p-component" type="text" placeholder="Search column name" />
          </div> -->
          <div class="row">
            <div class="col-12 mb-3">
              <nl-accordion>
                <ng-container *ngFor="let column of filterAccordion">
                  <nl-accordion-item>
                    <ng-template #header>
                      <!-- <p-checkbox
                        name="sectors"
                        [value]="accordionItem.id"
                        [formControl]="sectorsCtrl"></p-checkbox> -->
                      <div class="accordion-label text-truncate">{{ column.header }}</div>
                    </ng-template>
                    <ng-template #body>
                      <div class="p-fluid">
                        <input class="p-inputtext p-component" [id]="column.field" type="text" />
                      </div>
                    </ng-template>
                  </nl-accordion-item>

                  <!-- <div class="col-12 p-fluid mb-3">
              <label class="form-label" [for]="column.field">{{ column.header }}</label>
              <input class="p-inputtext p-component" [id]="column.field" type="text" />
            </div> -->
                  <!-- <div class="accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        [class.collapsed]="!column.visible"
                        type="button"
                        (click)="column.visible = !column.visible"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        {{ column.header }}
                      </button>
                    </h2>
                    <div class="accordion-collapse collapse" [class.show]="column.visible">
                      <div class="accordion-body">
                        <div class="p-fluid">
                          <input class="p-inputtext p-component" [id]="column.field" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                </ng-container>
              </nl-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 5%" class="table-tool-panel">
    <div class="">
      <div class="pt-3">
        <div class="d-flex flex-column align-items-center gap-2 side-buttons">
          <div
            class="column-wrapper"
            [class.active-border-left]="toggleColumn"
            (click)="toggleColumn = !toggleColumn; toggleFilter = false">
            <div class="align-items-center d-flex gap-2">
              <img
                src="./../../../assets/table/columns.svg"
                width="16px"
                height="16px"
                alt="columns-icon" />
              <span style="writing-mode: vertical-lr">Columns</span>
            </div>
          </div>
          <div
            class="filter-wrapper"
            [class.active-border-left]="toggleFilter"
            (click)="toggleFilter = !toggleFilter; toggleColumn = false">
            <div class="align-items-center d-flex gap-2">
              <img
                src="./../../../assets/table/filter.svg"
                width="16px"
                height="16px"
                alt="filter-icon" />
              <span>Filters</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
