<ng-container *ngIf="profileService.profile$ | async as profile">
  <ng-container [ngSwitch]="profile.role">
    <nl-company-edit-superadmin
      *ngSwitchCase="userRole.SUPER_ADMIN"
      [id]="id"></nl-company-edit-superadmin>
  </ng-container>
  <ng-container [ngSwitch]="profile.role">
    <nl-company-edit-admin *ngSwitchCase="userRole.ADMIN" [id]="id"></nl-company-edit-admin>
  </ng-container>
  <ng-container [ngSwitch]="profile.role">
    <nl-company-edit-franchise
      *ngSwitchCase="userRole.FRANCHISE"
      [id]="id"></nl-company-edit-franchise>
  </ng-container>
</ng-container>
